.card {
  position: relative;
  background: #fff;
  margin: 1em;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  border-radius: 3px;
  height: 350px;
  max-width: 600px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 3px 7px -3px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px -3px rgb(0 0 0 / 30%);
}

.content {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  color: black;
  list-style: none;
  margin: 0px;
  padding: 1em;
}
